---
layout: default
---

<h1>.category.: <span id="post-category">{{ page.category }}</span></h1>
<div class="home">
  <ul class="post-list">
    {% for post in site.categories[page.category] %}
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      <div class="post-excerpt">
        {{ post.excerpt }}
      </div>
      <span class="post-meta">
        {{ post.date | date: "%B %-d, %Y" }}
        <span class="post-bullets"> • </span>
        {% include read-time.html content=post.content %}
        <!-- Show post categories -->
        {% assign postCats = post.categories | sort %}
        {% if postCats.size > 0 %}
          <span class="post-bullets"> • </span>
        {%- endif -%}
        {% for category in postCats %}
        <span class="post-category">
            <a href="{{ 'category' | relative_url }}/{{ category | slugify }}">
              [{{ category | replace: '-', ' ' }}]
            </a>
        </span>
        {% endfor %}
      </span>
    </li>
    {%- endfor -%}
  </ul>
</div>

<br>
<hr style="border-top: gray;">
<br>

<div class="word-cloud">
  <h2>.other categories.</h2>
  {% assign siteCats = site.categories | sort %}
  {% for category in siteCats %}
    {% if category[0] != page.category %}
      <span class="site-category">
        <a href="{{ 'category' | relative_url }}/{{ category[0] | slugify }}">
          {{ category[0] | replace:'-', ' ' }}
          <span class="cloud-count">
            [{{ category | last | size }}]
          </span>
        </a>
      </span>
    {% endif %}
  {% endfor %}
</div>
