---
layout: default
---

<div class="word-cloud">
  <h2>.categories.</h2>
  {% assign siteCats = site.categories | sort %}
  {% for category in siteCats %}
    <span class="site-category">
      <a href="{{ 'category' | relative_url }}/{{ category[0] | slugify }}">
        {{ category[0] | replace:'-', '' }}<span class="cloud-count">[{{ category | last | size }}]</span>
      </a>
    </span>
  {% endfor %}
</div>

<br>
<hr style="border-top: gray;">
<br>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <div class="post-excerpt">
          {{ post.excerpt }}
        </div>
        <span class="post-meta">
          {{ post.date | date: "%B %-d, %Y" }}
          <span class="post-bullets"> • </span>
          {% include read-time.html content=post.content %}
          <!-- ! Show post categories -->
          {% assign postCats = post.categories | sort %}
          {% if postCats.size > 0 %}
            <span class="post-bullets"> • </span>
          {%- endif -%}
          {% for category in postCats %}
          <span class="post-category">
              <a href="{{ 'category' | relative_url }}/{{ category | slugify }}">
                [{{ category | replace: '-', ' ' }}]
              </a>
          </span>
          {% endfor %}
        </span>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
