---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {{ page.date | date: "%B %-d, %Y" }}
      <span class="post-bullets"> • </span>
      {% include read-time.html content=page.content %}
      <!-- Show post categories -->
      {% assign postCats = page.categories | sort %}
      {% if postCats.size > 0 %}
        <span class="post-bullets"> • </span>
      {%- endif -%}
      {% for category in postCats %}
      <span class="post-category">
          <a href="/category/{{ category | slugify }}">
            [{{ category | replace: '-', ' ' }}]
          </a>
      </span>
      {% endfor %}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

{%- include mathjax.html -%}
